<img src="/gifs/load.gif" id="spinster">
<div class="container">
  <div class="row navigation">
    <div class="navigation_links">
      <% if (url === "posts") { %>
        <a href="/blog" class="two columns">All posts</a>
      <% } %>
      <a href="/" class="two columns">Profile</a>
      <% if (user) { %>
        <a href="/logout" class="two columns">Log out</a>
      <% } %>
      <div id="mobile-header">
        <a id="responsive-menu-button" href="#sidr-main"></a>
      </div>
    </div><!--navigation_links-->
  </div><!--row navigation-->
</div><!--container-->

<div class="title_wrapper">
  <h1 class="title">ILIA GERASSIMOV</h1>
</div><!--title_wrapper-->

