<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Birch Massage</title>
<link rel='stylesheet' href='/stylesheets/libraries/normalize.css' />
<link rel='stylesheet' href='/stylesheets/libraries/base.css' />
<link rel='stylesheet' href='/stylesheets/libraries/skeleton.css' />
<link href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


