<div class="container">
  <div class="row navigation">
    <div class="navigation_links">
      <a href="/" class="two columns">Profile</a>
      <a href="#" class="two columns">About</a>
      <a href="#" class="one column">Artwork</a>
    </div><!--navigation_links-->
  </div><!--row navigation-->
</div><!--container-->

<div class="title_wrapper">
  <h1 class="title">ILIA GERASSIMOV</h1>
</div><!--title_wrapper-->

