<div class="subscribe">
  <input type="email" class="subscribeEmail" name="subscribeEmail">
  <button class="subscribeByEmail">Subscribe by email</button>
</div><!--subscribe-->

<div class="categories">
  <% tags.forEach(function(tag){ %>
    <p class="searchTag"><%= tag %></p>
  <% }) %>
</div><!--categories-->

<div class="searchBox">
  <input type="search" autocomplete="on" name="searchPosts" placeholder="To search type and hit enter">
</div><!--searchBox-->

<div class="popularPosts">
  <% popularPosts.forEach(function(post){ %>
    <p><%= post.title %></p>
    <p><%= post.body.substr(0, 100) %></p>
  <% }) %>
</div><!--popularPosts-->
