<!DOCTYPE html>
<html>
  <head>
    <title>Ilia Gerassimov - Massage Therapy</title>
    <% include ./partials/head %>
    <link rel='stylesheet' href='/stylesheets/blog.css' />
  </head>
  <body>
    <img src="images/hands_massage.jpg" width="100%" height="300px">
    <div class="login">
      <h1> Log In </h1>
      <form method="post" action="/register" id="loginForm">
        <input type="text" name="name" placeholder="name" >
        <input type="text" id="username" placeholder="Username" name="username">
        <input type="password" id="password" placeholder="Password" name="password">
        <input type="Submit" value="Log In">
      </form>
    </div>
  </body>
