.edit, .closeEdit, .commentForm, .newerReviews, .newerPosts, .all_posts, .changeImageInput,.olderSearchPosts, .newerSearchPosts, .olderTagPosts, .newerTagPosts, #blogForm {
  display: none;
}
.blog_centerpiece {
  text-align: center;
  margin-top: 3em;
}
.login {
  text-align: center;
  margin-top: 2em;
}
.login h1 {
  font-family: 'Krona One', sans-serif;
}
.highlight {
  background-color: yellow;
}

a:visited {
  color: #656565;
}

a:hover, .removePostPreview:hover {
  color: #D3D3D3;
  cursor: pointer;
}

/*NAVIGATION*/

.navigation {
  width: 82%;
  margin: 1% auto;
  border: 1px solid #666;
  text-align: center;
}

.navigation_links {
  display: inline-block;
  margin: 1% auto;
  overflow: auto;
}

.navigation a {
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  color: #1A1A1A;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
}

/*TITLE*/

.title_wrapper, .title {
  padding: 2% 0 1% 0;
  font: 'Lato', sans-serif;
  letter-spacing: 0.2em;
  text-align: center;
  color: #000000;
  font-weight: 200;
}

/*MAIN CONTAINER*/

.openPostForm, .all_posts {
  text-align: center;
  letter-spacing: 2rem;
  text-transform: uppercase;
  background-color: #2F2F2F;
  color: #fff;
  padding: 3px 10px;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  font: 'Lato', sans-serif;
  font-size: 90%;
}

.main_wrapper {
  width: 82%;
  padding: 0 0 30px;
  text-align: left;
  margin: 0 auto;
  background: #ffffff;
  vertical-align: baseline;
  margin-top: 2%;
  border-top: 1px solid #aaaaaa;
}

/*BLOG FORM*/

#blogForm {
  padding-bottom: 1.5em;
  border-bottom: 1px solid #aaa;
}

#blogForm input, #blogForm textarea, #editPostForm input, #editPostForm textarea {
  width: 100%;
}

#blogForm textarea, #editPostForm textarea {
  height: 15em;
}

/*MAIN POST CONTAINER*/

.content_wrapper {
  padding: 60px 5px 0 75px;
}

/*POST*/
.post {
  overflow: auto;
  padding-bottom: 7px;
  border-bottom: 1px solid #aaaaaa;
  margin-bottom: 50px;

}

.postDate {
  font: 'Lato', sans-serif;
  letter-spacing: 2px;
  text-align: center;
  font-size: 11px;
}

.postTitle {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #000;
  transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  letter-spacing: 3px;
  font-weight: bold;
  margin-top: -3%;
  margin-bottom: 0em;
}


.postImage {
  padding: 2% 0;
  width: 100%;
  height: auto;
}

.post_body_wrap {
  text-align: justify;
  letter-spacing: 0.02em;
  font: normal normal 12px 'Lato', sans-serif;
  color: #2F2F2F;
  line-height: 23px;
  overflow: hidden;
  margin-top: -3%;
}

.read_more_wrap {
  position: relative;
  text-align: center;
  margin: 20px 0 0;
  margin-bottom: 30px;
}

.read_more_wrap a {
  font: normal bold 10px 'Lato';
  color: #ffffff;
  background-color: #000000;
  max-width: 110px;
  display: block;
  padding: 1em 2.1em;
  margin: 0px auto;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  text-transform: uppercase;
}

.read_more_wrap a:hover, .follow_by_email_wrap button:hover, .categories p:hover, .openPostForm:hover, .all_posts:hover, .openComment:hover, .submitComment:hover, .openChangeImage:hover, .deleteImage:hover, .editPost:hover, .changeImage:hover, .removeEditPreview:hover {
  cursor: pointer;
  background-color: #595959;
  text-decoration: none;
}

.postTags {
  float:left;
  width: 70%;
  margin-bottom: 1rem;
}

.postTags span {
  border-bottom: 1px black dotted;
  margin-right: 1.5%;
  font-size: 13px;
}

.searchTag:hover, p.openEdit:hover, p.deletePost:hover, p.deleteComment:hover {
  cursor: pointer;
  color: #A8A8A8;
}

.comment_link, .post_signature_wrapper {
  float: right;
  display: inline-block;
  text-decoration: none;
  margin-right: 1%;
  color: #000;
  font-size: 13px;
}

.post_signature_wrapper {
  margin-right: 0;
}

.edit_delete_wrapper {
  clear: both;
  margin-left: 3%;
}

p.openEdit, p.deletePost, p.deleteComment {
  display: inline;
  margin-right: 2%;
  font-size: 12px;
  letter-spacing: 2px;
}

/*POST*/

.post_signature {
  max-width: 100%;
  height: auto;
}

.share_box {
  margin-top: -1em;
  margin-bottom: 3em;
}

.relatedPosts, .comment_section, .commentsCollection, .share_box {
  font: normal normal 12px 'Lato';
  color: #2F2F2F;
  color: #48464A;
  letter-spacing: 0em;
  margin: 2em auto 3em;
}

.relatedPosts h4, .comment_section h4, .share_box h4{
  letter-spacing: 0;
  margin: 50px 0px 5px;
  text-transform: uppercase;
  font-size: 100%;
  font-weight: 500;
}

.related_posts_content div:first-child, .commentsCollection div:first-child {
  border-top: none;
}

.related_single_post, .comment, .share_content {
  padding-top: 1em;
  margin: 1.5em 1em;
  margin-bottom: -0.5em;
  border-top: 1px solid #eee;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #48464A;
}

.share_content {
  border-top: none;
}

.share_content div {
  display: inline-block;
  padding: 1em;
  margin-right: 2em;
  -webkit-transition: all 0.7s ease 0 s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  -ms-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.share_content div:hover {
  background: #F3F3F3;
  cursor: pointer;
}

.share_content div p {
  font: normal normal 12px 'Lato';
    color: #2F2F2F;
    letter-spacing: 0;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 80%;
    text-align: center;
}

.related_single_post img {
  width: 70px;
  height: 70px;
  max-width: none;
  max-height: none;
  background-color: transparent;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  padding: 0;
  float: left;
  margin: 2px 16px 0 0;
}

.related_single_post a {
  margin: 0 0 0.5em;
  display: inline-block;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  text-decoration: none;
}

.related_single_post p {
  display: block;
  overflow: hidden;
  line-height: 1.2;
  letter-spacing: 0;
  font-size: 97%;
  vertical-align: baseline;
}

.openComment {
  margin: 2em auto;
  width: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font: normal bold 10px 'Lato';
  color: #ffffff;
  background-color: #000000;
  padding: 1em 2.1em;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
}

.openComment:hover {
  color: #ffffff;
}

.comment img {
  margin-right: 0.5em;
}

.commentTitle, .commentAuthorName,.commentAuthorWebsite {
  display: inline-block;
  margin-right: 0.2em;
  margin-bottom: 0.3em;
}

.commentTitle {
  font-weight: 600;
  color: #000;
}

.commentAuthorName, .commentDate {
  color: #c5c5c5;
}

.commentAuthorWebsite {
  font-style: italic;
}

.commentDate {
  font-size: 10px;
  margin-bottom: 1em;
}
.commentBody {
  margin-bottom: 1em;
}

.comment_section textarea {
  width: 100%;
  height: 10em;
}

.submitComment_wrap, .submitPost_wrap, .change_image_wrap, .edit_post_wrap  {
  text-align: center;
  margin-top: 0em;
}

.changeImageInput {
  text-align: left;
}

.submitComment, .submitPost, .openChangeImage, .deleteImage, .editPost, .changeImage, .removeEditPreview {
  font: normal bold 10px 'Lato';
  color: #ffffff;
  background-color: #000000;
  max-width: 100%;
  display: inline-block;
  padding: 1em 2.1em;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  text-transform: uppercase;
  margin-top: 1em;
  margin-bottom: 0;
}

.commentForm {
  margin-top: 2em;
  border-bottom: 1px solid #eee;
}

#commentForm label {
  letter-spacing: 0.02em;
  font: normal normal 13px 'Lato';
}
.submitPost {
  margin-top: 0;
}

.removePostPreview {
  margin-bottom: 7em;
  margin-left: 7em;
  display: table;
  margin-top: -8em;
  color: #000;
  padding: 0.2em 0.2em;
   transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
}

.openChangeImage, .deleteImage {
  width: 40%;
  margin-top: 1em;
}

.deleteImage, .changeImage {
  margin-right: 2em;
}

.editPostTitle {
  margin-top: 2em;
}

.editFile {
  margin-top: 2em;
}


/*SIDE BAR*/

.right_sidebar_wrapper {
  text-align: left;
  padding-top: 2%;
  margin-top: 0;
}

.right_sidebar {
  padding: 20px 45px 0px 30px;
  border: 0 solid #aaaaaa;
  margin-top: 20px;
}

.social_follow {
  padding: 0 10%;
  margin: 20px 0px 40px;
  border: 1px solid #aaaaaa;
}

.right_sidebar h2 {
  font: normal normal 11px 'Lato';
  color: #2F2F2F;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  padding: 2em 0.8em 0.5em 0.8em;
  border-top: 0 solid #aaaaaa;
}

.popular_posts_body a {
  text-decoration: none;
}

.right_sidebar div.box_content {
  font: normal normal 12px 'Lato';
  color: #2F2F2F;
  letter-spacing: 0.04em;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-left: 0;
  padding-right: 0;
}

.widget {
  padding: 0 10%;
  margin: 20px 0px 40px;
  border: 1px solid #aaaaaa;
  overflow: auto;
}

.social_box a {
  max-height: 65px;
  width: 16%;
  display: inline-block;
  border: 0px solid #fff;
  height: auto;
  text-align: center;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  padding: 4px 0 5px;
  margin: 1%;
  background-color: #fff;
}

.social_box img {
  width: 18px;
  height: 18px;
  display: inline-block;
  border: 0px solid #ccc;
  border-radius: 100%;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  vertical-align: middle;
}

.social_box img:hover, .social_box a:hover {
  background-color: #F2F2F2;
}

.about_author img {
  border-bottom: 0;
  margin-top: -15px;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.profile_image_wrap {
  width: 100%;
  height: auto;
  background: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin: 0;
}

.about_author p, .popularPosts p {
  text-align: center;
  padding: 0;
  letter-spacing: 0.04em;
  line-height: 18px;
  margin-top: -15px;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  color: #2F2F2F;
  margin-bottom: 30px;
}

.follow_by_email_wrap {
  margin-bottom: 10%;
}

.follow_by_email_wrap input, .follow_by_email_wrap button, .searchBox input {
  width: 88%;
  margin: 0 5% 10px;
  font-size: 60%;
  font-family: 'Lato', sans-serif;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
   -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.follow_by_email_wrap input, .searchBox input {
  height: 30px;
  color: #2F2F2F;
  text-align: center;
  border: 1px solid #aaaaaa;
  letter-spacing: 1px;
}

.follow_by_email_wrap button {
  margin-right: 0;
  padding: 0;
  border: 0;
  color: #ffffff;
  background-color: #000000;
  font-weight: bold;
  height: 32px;
  z-index: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.searchBox input {
  background: url(/images/search_icon.png) no-repeat scroll 189px 4px;
  background-size: 20px;
  padding-top: 6px;
  text-align: left;
  padding-left: 15px;
  margin-bottom: 10%;
}


.categories p {
  display: inline-block;
  background-color: #2F2F2F;
  color: #fff;
  padding: 3px 10px;
  margin-left: 15px;
  margin-bottom: 15px;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  font-size: 80%;
}

.categories p:hover {
  color: #fff;
}

.categories_wrap {
  margin-bottom: 5%;
}

.popular_posts_body {
  margin-top: -18px;
  margin-bottom: 40px;
}

.link_back {
  text-decoration: none;
}

#red {
  border-color: red;
}




