@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2){

/*LANDING PAGE*/
.main {
  margin: 23% 0;
}
.massage_therapist_image {
  width: 100%;
  margin-top: 4%;
}

.header {
  width: 103%;
  padding-top: 3%;
}

.landing_button_pictures {
   display: none;
}

.landing_text.wrap {
  margin-left: 2.3%;
}

.header p {
  font-size: 2em;
}

.landing_image {
  margin-left: 10%;
}

.main_heading {
  width: 100%;
  margin-top: 15%;
  margin-left: 0%
}

.main_heading p {
  margin-top: -2.8%;
  margin-left: 9%;
  font-size: 4em;
}

.main_heading h1 {
  width: 100%;
  font-size: 7em;
  margin-left: 0;
}

/*ABOUT */

.about_image .top_part,.about_image .middle_part,.about_image .bottom_part {
  display: none;
}

.about_image.wrap {
  overflow: auto;
}

.about_image h2 {
  display: block;
  font-size: 4em;
  left: 57px;
  color: white;
}

.about .section {
  width: 350px;
  border: 2px solid black;
  background-color: black;
}


.section.education, .section.medical {
  margin-right: 3%;
  margin-left: 12%;
}

.section.education h2{
  left: 50px;
}

/*EDUCATION SECTION*/
.education_info, .massage_info, .resume_info {
  width: 100%;
}

.logo.three.columns {
  width: 90%;
  margin: 2% auto;
}

.logo.three.columns img {
 display: none;
}

.container.education_info .one.column {
  width: 12%;
  margin-left: 4%;
}

.education_info h3 {
  font-size: 3em;
}

.education_info li {
  font-size: 1.8em;
}

.education_info .seven.columns {
  width: 79.5%;
}

.education_info p {
  font-size: 3em;
  line-height: 1em;
}

.continuing_education.three.columns {
  width: 75%;
}

.continuing_education p:first-child {
  font-size: 4em;
  margin-top: 12%;
  font-weight: bold;
  margin-bottom: 10%;
}

 .row.continue_education .one.column.offset-by-one, .row.continue_education .one.column.offset-by-five {
  font-size: 1em;
  margin-left: -1%;
}

.row.continue_education .one.column.offset-by-five, .education_info .row:last-child .one.column {
  margin-left: -26%;
}

.continue_education .seven.columns {
  font-size: 0.8em
}

.education_info {
  padding-bottom: 5%;
}


/*MASSAGE*/

.direct_hire.eleven.columns {
  width: 80%;
  line-height: 2em;
  padding: 3%;
}

.direct_hire p {
  font-size: 1.5em;
  line-height: 50px;
}

.direct_hire span {
  font-size: 1em;
}

.companies .three.columns {
  width: 46%;
}

.company p {
  font-size: 2.8em;
  height: 50rem;
}

.company.zeel p, .company.stressbusters p {
  height: 60rem;
}

.company.zeel, .company.greenpoint {
  margin-right: 3%;
}

.company img {
  width: 75%;
  display: block;
  margin: 0 auto;
}

.company {
  margin-bottom: 5%;
}

.companies {
  margin-bottom: 2%;
  margin-left:7%;
  width: 92%;
}

.companies .company:last-child img {
  width: 90%;
}


/*RESUME*/
.resume_info {
  margin-bottom: 5%;
  margin-top: 4%;
}

.resume_info .six.columns {
  width: 450px;
}

.resume_info input[type="text"], .resume_info textarea, .resume_info input[type="email"]{
  width: 40em;
}

.resume_info form {
  width: 100%;
}

.resume_info input[type="text"], .resume_info input[type="email"] {
  width: 50em;
  height: 4em;
}

.resume_info label {
  font-size: 2.7em;
  width: 43%;
}

.resume_info input[type="checkbox"] {
  margin-right: 3%;
   -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}

.resume_info br {
  display: none;
}

.resume_info .five.columns {
  width: 88%;
  margin-left: 10%;
  margin-bottom: 2%;
  margin-top: 2%;
}

.submit_documents.wrap {
  overflow: auto;
}

.submit_documents button {
  width: 50%;
  font-size: 2.4em;
  margin-bottom: 5%;
  height: initial;
  padding: 2%;
}

.resume_info textarea {
  font-size: 2em;
  width: 25em;
  height: 10em;
}

.close_icon_wrap {
  width: 8%;
  margin-top: 2.5%;
  margin-right: 3.5%;
}


/*REVIEWS*/

.reviews.section legend {
  font-size: 3.5em;
}

.reviews.section label {
  font-size: 2.5em;
  font-family: 'Karla', sans-serif;
}

.reviews.section label[for="email"] {
  margin-left: 2%;
  margin-right: 3%;
}

.reviews.section input[type="text"], .reviews.section input[type="email"] {
  width: 70%;
  height: 2em;
  font-size: 2em;
}

.reviews.section label[for="body"] {
  margin-top: 0;
}

.reviews.section textarea {
  width: 70%;
  margin-left: 2%;
  height: 10em;
  font-size: 2em;
  margin-top: 2%;
}

.reviews.section .eleven.columns {
  width: 90%;
  margin-left: 5%;
}

.review_button button, .review_button input[type="reset"] {
  height: 1.5em;
  font-size: 2.4em;
  width: 35%;

}

.review_button {
  margin-right: -5%;
  width: 70%;
}

.kick_me_man {
  width: 20%;
  top: 5%;
  left: 77%;
}

.reviews_collection_wrap .six.columns {
  width: 90%;
}

.reviews_collection.row {
  width: 95%;
}

.star-ratings-css {
  font-size: 2.5em;
  margin-bottom: 5%;
}

.review_body {
  font-size: 2.28em;
}

.review_author {
  font-size: 2em;
}

.olderReviews, .newerReviews {
  font-size: 2em;
}

.olderReviews {
  margin-right:25%;
}


/*CONTACT*/

.contact.scrollable p.contact_info {
  width: 85%;
}

.contact h2 {
  font-size: 5em;
}

.contact.scrollable p {
  font-size: 4em;
}

}
