@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2){
    body {
      font-size: 15px;
    }

    .navigation {
      width: 100%
    }

    #mobile-header {
      display: block;
    }

    .navigation_links {
      min-width: 240px;
    }

    .container .two.columns {
      width: 50%;
    }

    .regular_side_bar {
      display: none;
    }

    .main_wrapper_bg.eight.columns {
      width: 98%;
      padding-left: 1%;
    }

    .content_wrapper {
      padding-left: 0;
    }

    .read_more_wrap a {
      max-width: 175px;
    }

    .openChangeImage, .deleteImage, .editPost {
      width: 43.5%;
      padding: 20px;
      float: left;
      margin-top: 2%;
    }

    .editPost {
      float: none;
    }

    .deleteImage {
      margin-right: 15px;
    }

    .openChangeImage {
      margin-right: 0;
    }

    .change_image_wrap {
      text-align: left;
    }

    .postTags img {
      width: 10%;
    }

    .title {
      font-size:1.5em;
    }

    .postBody {
      margin-top: 2%;
      font-family: 'Lato', sans-serif;
      line-height: 2.5rem;
    }

    .widget {
      background-color: white;
    }

    .right_sidebar {
      padding: 0 5%;
    }

    .follow_by_email_wrap button {
      line-height: 0.5em;
      height: 25px;
    }

    .right_sidebar h2 {
      font-size: 1em;
      margin-bottom: 1.2em;
    }

    .right_sidebar_wrapper.four.columns {
      width: 100%;
    }
}
