@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2){
    #mobile-header {
        display: block;
    }

    .regular_side_bar {
      display: none;
    }

    .main_wrapper_bg.eight.columns {
      width: 100%;
    }

    .content_wrapper {
      padding-left: 0;
    }

    .read_more_wrap a {
      max-width: 175px;
    }

    .comment_link, .post_signature_wrapper, .postTags span{
      font-size: 3rem;
    }

    input[type="text"], textarea {
      font-size: 3rem;
    }

    .submitComment, .submitPost, .openChangeImage, .deleteImage, .changeImage, .removeEditPreview, input[type="file"], .postDate, p.deletePost, p.openEdit {
      font-size: 2.5rem;
    }

    .openChangeImage, .deleteImage, .editPost {
      width: 43.5%;
      padding: 20px;
      float: left;
      font-size: 25px;
      margin-top: 2%;
    }

    .editPost {
      float: none;
    }

    .deleteImage {
      margin-right: 15px;
    }

    .openChangeImage {
      margin-right: 0;
    }
    .change_image_wrap {
      text-align: left;
    }
    .postTags img {
      width: 50px;
    }

    .container .two.columns {
      width: 130px;
    }

    h1 {
      font-size: 7rem;
    }

    .postTitle {
      font-size: 5rem;
    }

    .postBody, .relatedPosts h4, .comment_section h4, .share_box h4  {
      font-size: 2rem;
    }

    .postBody {
      margin-top: 2%;
      font-family: 'Lato', sans-serif;
      line-height: 2.5rem;
    }
}
