@font-face {
    font-family: Abduco;
    src: url(../fonts/Abduco.ttf);
}

@font-face {
    font-family: SensoryOverload;
    src: url(../fonts/SensoryOverload.ttf);
}

@font-face {
    font-family: jd;
    src: url(../fonts/truth.ttf);
}

@font-face {
    font-family: truth;
    src: url(../fonts/truth.otf);
}

.wrap img, .wrap p {
  width: 100%;
}

a {
  text-decoration: none;
}

html, body {
  -webkit-overflow-scrolling: touch;
}
body {
  max-width: 1600px;
  min-width: 320px;
  margin: 0 auto;
  padding-top: 5%;
  background-color: white;
  overflow-x: hidden;
  overflow-y: auto;
}
/*MAIN HEADING*/

.landing_image {
  margin-left: 15%;
  margin-bottom: 6.7%;
  overflow: scroll;
  width: 80%;
}
.massage_therapist_image {
  width: 42%;
  display: inline-block;
  float:left;
}

.main_heading {
  display: inline-block;
  float:left;
  width: 58%;
  margin-left: -8%;
}

.main_heading .wrap {
  width: 85%
}

/*CURRENT STATUS*/

  /*FOLDED CORNER*/

  .folded-corner {
     width: 0px;
     height: 0px;
     position: absolute;
     top: -1px;
     right: -1px;
     border-width: 5em;
     border-style: solid;
     background: hsla(260,5%,60%,0.2);
     -webkit-box-shadow: 2px -2px 0px #fff, 0 1px 1px rgba(0,0,0,0.1), -1px 1px 1px rgba(0,0,0,0.1);
     -moz-box-shadow: 2px -2px 0px #fff, 0 1px 1px rgba(0,0,0,0.1), -1px 1px 1px rgba(0,0,0,0.1);
     box-shadow: 2px -2px 0px #fff, 0 1px 1px rgba(0,0,0,0.1), -1px 1px 1px rgba(0,0,0,0.1);
     -webkit-border-bottom-left-radius: 15px;
     -moz-border-radius: 0 0 0 15px;
     border-radius: 0 0 0 15px;
     border-color: #222 #222 transparent transparent;
     -webkit-transition: border-width 0.2s ease-out;
     -moz-transition: border-width 0.2s ease-out;
     -ms-transition: border-width 0.2s ease-out;
     -o-transition: border-width 0.2s ease-out;
     transition: border-width 0.2s ease-out;
  }


  @media screen
  and (min-device-width: 1024px)
  and (max-device-width: 3000px) {
  .current_status:hover .folded-corner {
    border-width: 7em;
  }

  .current_status:hover .status, .current_status:hover .status_edit {
    opacity: 1;
  }
}

  .current_status {
    width: 4.5em;
    float: right;
    position: absolute;
    top: -1em;
    right: -1em;
    margin-right: 0.7em;
  }

  .current_status img{
    width: 100%;
    z-index: 333333;
    position: relative;
    top: 1.5em;
    right: 0.7em;
  }

  .current_status #spinster {
    top: -2em;
    right: -2em;
  }

  .current_status .trigger {
    color: rgba(253, 4, 4, 0.8);
    position: relative;
    z-index: 1;
    margin-top: 1.5em;
    right: 0.5em;
    font-size: 1em;
    width: 125%;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -ms-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    font-family: 'jd', sans-serif;
  }

  .current_status .status_edit.trigger {
    font-size: 0.7em;
    right: -2.5em;
    top: 0em;
  }

  .current_status .trigger:hover {
    text-decoration: underline;
    cursor: pointer;
  }

   /* MODAL WINDOW*/

  .img-replace {
    /* replace text with an image */
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    color: transparent;
    white-space: nowrap;
  }

  .popup, .popup_form, .popup_book {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(34, 31, 32, 0.9);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
    display: flex;
    align-items: center;
  }

  .popup_book .popup_content {
    margin: 0em auto;
    margin-top: 3em;
    height: auto;
    min-height: 38% !important;
    padding-bottom: 0;
  }
  .popup_book iframe {
  }
  .popup.is-visible, .popup_form.is-visible, .popup_book.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
    z-index: 100000000000;
  }

  .popup_content, .popup_form  .popup_form_content{
    position: relative;
    font-family: 'Karla', sans-serif;
    width: 90%;
    max-width: 50em;
    margin: 10em auto;
    background: #FFF;
    border-radius: .25em .25em .4em .4em;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
    /* Force Hardware Acceleration in WebKit */
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }

  .popup_form_content .submission_status {
    display: none;
    padding-bottom: 3em;
    font-size: 1.2em;
  }

  .popup_content p {
    padding: 1em 1em;
    margin-bottom: 0;
  }

  .popup_content .availability {
    background: white;
    margin: 1em auto;
    font-family: 'truth';
    letter-spacing: 0.2em;
    font-size: 1.5em;
    height: 1em;
    line-height: 1em;
    font-weight: bold;
    letter-spacing: 0.3em;
    border-radius: 10px;
    display: inline-block;
    font-size: 1.2em;
  }

  .popup_content .availability.available {
    color: green;
    border: 5px solid green;
  }

  .popup_content .availability.unavailable {
    color: red;
    border: 5px solid red;
  }
  .popup_content .popup_close, .popup_form_content .popup_close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
  }

  .popup_content .popup_close::before, .popup_content .popup_close::after, .popup_form_content .popup_close:before, .popup_form_content .popup_close:after {
    content: '';
    position: absolute;
    top: 12px;
    width: 14px;
    height: 3px;
    background-color: #8f9cb5;
  }

  .popup_content .popup_close::before, .popup_form_content .popup_close:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 8px;
  }

  .popup_content .popup_close::after, .popup_form_content .popup_close:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 8px;
  }

  .is-visible .popup_content, .is-visible .popup_form_content {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  /*STATUS FORM*/
  .popup_form_content h3, .popup_content h3 {
    padding-top: 1em;
    font-family: 'jd', sans-serif;
  }

  #status_form {
    text-align: left;
    margin-left: 5em;
    padding-bottom: 2em;
  }

  #status_form label {
    margin-right: 2em;
  }

  #status_form input[type='text'] {
    width: 90%;
  }

  #status_form input[type='submit'] {
    display: block;
    margin: 0 auto;
    background-color: black;
    color: white;
    font-family: 'SensoryOverload', sans-serif;
    letter-spacing: 0.2em;
  }

  .popup_content {
    padding-bottom: 2em;
  }

  .popup_content p {
    font-size: 1.2em;
  }

  .popup_content .notes:not(span), .popup_content .location:not(span) {
    text-align: left;
    margin-left: 2em;
    padding-top: 0;
    font-size: 1.2em;
    font-family: 'jd', sans-serif;
    display: none;
  }

  .popup_content .notes span, .popup_content .location span {
    font-size: 1em;
    font-family: 'Karla', sans-serif;
  }

  .popup_content h3 {
    margin-bottom: 0;
  }


/*BLACK LANDING WITH BUTTONS*/

.black_landing {
  background-color: rgb(0, 0, 0);
  overflow: auto;
  clear: scroll;
}

.landing_button_pictures {
  overflow: auto;
  margin-top: 1%;
}

.landing_button {
  width: 13.5%;
  overflow: auto;
  float: left;
  margin-left: 2.5%;
}

.landing_button:hover {
  cursor:pointer;
}

.landing_button_image {
  width: 70%;
  margin: 0 auto;
  overflow: auto;
}


.landing_button_image.about {
  width: 58%;
  padding-top: 30px;
}

.landing_button_image.schedule {
  width: 65%;
  padding-top: 30px;
}

.landing_button_image.reviews {
  width: 70%;
  padding-top: 16px;
}

.landing_button_image.contact {
  width: 75%;
}

.landing_button_image.blog {
  width: 62%;
  padding-top: 16px;
}

.landing_button_image.rates {
  width: 55%;
  padding-top: 17px;
}

.header {
  background-color: black;
  padding-bottom: 1%;
}

.header p {
  color: rgb(255, 255, 255);
  font-family: 'Abduco', sans-serif;
  text-align: center;
  font-size: 1.5em;
  letter-spacing: 0.1em;
}


.landing_text p:hover {
  text-decoration: underline;
}

.landing_text p {
  border-bottom: 2px solid black;
}

.landing_text:hover {
  cursor: pointer;
}

.landing_text.wrap {
  width: 13.3%;
  display: inline-block;
  margin-left: 2.5%;
  text-align: center;
  font-size: 1em;
  display: inline-block;
}

.sticky {
  top:0;
  position: fixed;
  left: 0;
  z-index: 1000;
  padding-bottom: 0px;
}


.sticky p {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem
}

.contact_text{
  margin-top: 2%;
}

.blog_text{
  margin-top: -3%;
}

.header div {
  display: inline-block;
}

.header .landing_text_wrap {
  width: 100%;
  display: block;
  margin: 0 auto;
}



/*ABOUT ME*/
.about.scrollable, .reviews.scrollable {
  padding-bottom: 5%;
}

.about .section {
  position:relative;
  display: inline-block;
  overflow: auto;
  width: 23%;
  height: 300px;
}

.about.section div {
  position: absolute;
}


.about_pictures {
  margin: 10% auto;
  overflow: auto;
  width: 100%;
  display: block;
  overflow: auto;
  float: none;
}

.about_image:hover {
  cursor: pointer;
}

.about_image img {
  display: -webkit-box;
  display: -moz-box-flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  display:flex;
  width: 60%;
  margin: 0 auto;
}

.about_image.education img {
  width:89%;
}

.section.education{
  margin-left: 4%;
  margin-right: 2%;
  overflow: hidden;
}

.about h1, .reviews h1, .schedule h1, .contact h1, .rates h1 {
  font-family: 'Abduco', sans-serif;
  text-align: center;
  font-size: 4.5em;
  margin-top: 2%;
}

.about_image.wrap {
  width: 100%;
  overflow: hidden;
}

.about h1 {
  margin-bottom: 3%;
}

.about_image h2{
  position:absolute;
  width: 70%;
  height: 100px;
  top:25%;
  left: 25%;
  display:none;
  font-size: 2.5em
}

/*MASSAGE BOX*/

.hidden {
  width: 85%;
  display:none;
    -moz-transition: all 300ms ease-out;
  -webkit-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  border: 4px solid black;
  -webkit-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.75);
box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.75);
}

.hidden {
  display:none;
}

.hidden h1 {
  margin-top: 2%;
  margin-bottom: 0;
  font-size: 3em;
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  letter-spacing: 0.4rem;
  clear: both;
}

.hidden p, #resume h2 {
  font-size: 1.15em;
  font-family: 'Karla', sans-serif;
}

.close_icon_wrap {
  width: 5%;
  position: relative;
  float:right;
  margin-top: 1.5%;
  margin-right: 1.5%;
  -moz-transition: all 300ms ease-out;
  -webkit-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.close_icon {
  width:100%;
  position: absolute;
}
.close_icon_wrap:hover{
  cursor:pointer;
  width:5.5%;
}

.companies .company.three.columns {
  margin-left: 14px;
  width: 22%;
  text-align: left;
}

.company p {
  height: 16rem;
}

.company img {
  width: 80%;
  clear: both;
  display: block;
  margin: 0 auto;
}

.direct_hire.eleven.columns {
  margin: 3% auto;
  text-align: center;
  float: none;
  display: block;
  width: 72%;
  background-color: black;
  color: white;
  padding: 1%;
  margin-top: 2%;
}

.direct_hire p {
  margin-bottom: 0;
}

.companies {
  width: 90%;
  margin: 0 auto;
  overflow: auto;
  margin-bottom: 2%;
}

.contact_directly, .check_rates {
  font-weight: bold;
  border-bottom: 2px solid white;
  font-size: 1em;
}

.contact_directly:hover, .check_rates:hover {
  cursor: pointer;
}

/*MEDICAL */

#medical .image.wrap {
   width: 12%;
   margin-left: 5%;
   margin-right: 3%;
}

#medical .description {
  width: 65%;
}

#medical h3 {
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 0.01em;
}

#medical ul {
  font-family: 'Karla', sans-serif;
  margin-left: 3%;
  margin-bottom: 2%;
}

#medical li {
  margin-bottom: 0%;
  font-size: 1.1em;
}

#medical h1 {
  margin-bottom: 3%;
}

#medical .description {
   margin-bottom: 3%;
}

#medical p {
  font-size: 0.7em;
  font-style: italic;
}
/*EDUCATION*/

#education.info h3 {
  font-size: 1.1em;
  padding-top: 1em;
}

#education.info  p {
  margin-bottom: 0.5rem;
  margin-top: 2%;
}

#education.info  ul {
  margin-bottom: 0rem;
}

#education.info  li {
}

#education.info .row {
  margin-bottom: 0rem;
}

#education.info .row:last-child {
  margin-bottom: 3rem;
}

.seven.columns.bronx {
  margin-top: 3.5rem;
}

.one.column.bronx {
  margin-top: 3.5rem;
}

#education.info  h1 {
  margin-bottom: -1%;
}

#education.info  .row.continue_education {
  margin-bottom: 0;
}

#education.info  .logo {
  margin-right: 3%;
  width: 15%;
}

.logo img {
  margin-top: 3%;
}
.three.columns.wrap.offset-by-one.continuing_education{
  text-align: center;
  width: 14%;
}
.continue_education .one.column.offset-by-one {
  padding-left: 3.3%;
}
#education .one.column.offset-by-five {
  padding-left: 25%;
}

.continuing_education p {
  font-weight: bold;
  letter-spacing: 0.2rem;
  font-size: 120%;
  margin-bottom: 0;
}

#resume.info input[type="text"], #resume.info input[type="email"] {
  width: 80%;
}

#resume.info label {
  font-family: 'Karla', sans-serif;
  margin-bottom: 5%;
  font-size: 1.2em;
}

#resume.info label[for="comment"] {
  margin-bottom: 2%;
}

/*#resume.info label[for="email"] {
  margin-left: 2em;
}*/


#resume.info textarea {
  width: 92%;
  height: 8em;
  margin-left: 0;
}

#resume.info .five.columns {
  margin-top: -1.3%;
}

#resume.info h2 {
  text-align: center;
  font-size: 1.7em;
  letter-spacing: 0.3em;
  margin-bottom: 3%;
}

.submit_documents.wrap{
  clear: both;

}

.submit_documents button {
  margin: 0 auto;
  display:block;
  margin-bottom: 2%;
  background-color: black;
  color: white;
  font-family: 'SensoryOverload', sans-serif;
  width: 30%;
  font-size: 1em;
  letter-spacing: 0.2em;

}
/*REVIEWS*/

.rating {
  float:left;
}

.kick_me_man {
  width: 10%;
  position: absolute;
  top: 10%;
  left: 76%;
}

.rating:not(:checked) > input {
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.rating:not(:checked) > label {
  float: right;
  width: 1em;
  padding: 0 .1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size: 200%;
  line-height: 1.2;
  color: #ddd;
}

.rating:not(:checked) > label:before {
  content: '★ ';
}

.rating > input:checked ~ label {
  color: #CD0A0A;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #CD0A0A;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #CD0A0A;
}

.rating > label:active {
  position: relative;
  top: 2px;
  left: 2px;
}

.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  height: 25px;
  width: 100px;
  margin-bottom: 0.8em;
  position: relative;
  text-shadow: 0 1px 0 #a2a2a2;
}
.star-ratings-css::before {
  content: '★★★★★';
  opacity: .3;
}
.star-ratings-css::after {
  color: #CD0A0A;
  content: '★★★★★';
  text-shadow: 0 1px 0 #ab5414;
  position: absolute;
  z-index: 1;
  display: block;
  left: 0;
  top:0;
  width: attr(rating);
  overflow: hidden;
}
[title=".0"]::after {
  width: 0%;
}

[title=".1"]::after {
  width: 25%;
}
[title=".2"]::after {
  width: 50%;
}
[title=".3"]::after {
  width: 75%;
}
[title=".4"]::after {
  width: 100%;
}
.red {
  border-color: red;
}
input[type="text"].red {
  border-color: red;
}
.rating_stars_wrapper {
  overflow:auto;
}
label {
  display: inline-block;
  font-weight: 300;
}
input[type="text"], input[type="password"], input[type="email"]{
  width: 100%;
}
textarea {
  width: 90%;
  vertical-align: top;
}
label[for="body"] {
  margin-top: -2em;
}
input[type="reset"]{
  margin-left: 1em;
}
.review_button input[type="reset"], .review_button button, .contact button, .contact input[type='reset'], .deleteReview{
  width: 16em;
  background-color: black;
  color: white;
  font-family: 'SensoryOverload', sans-serif;
  letter-spacing: 0.2em;
}
.review_button input[type="reset"]:hover, .review_button button:hover {
  background-color: rgb(45, 45, 45);
}

.reviews.section label[for="email"], .review_row label[for="body"]{
  display: block;
}

.review_row label[for="body"] {
  margin-top: 0.5em;
}

.review_row label[for="email"] {
  display: block;
}

label[for="author"]{
  margin-right: 0.7em;
  display: block;
}
legend {
  font-family: 'JD';
  font-size: 1.5em;
  margin-bottom: 0.5em;
  font-weight: 0;
}

.reviewBody {
  width: 100%;
}
.formErrors {
  color: red;
  margin-bottom: -0.5em;
}
.review_button{
  float: right;
}
.form.eleven.columns {
  margin-left: 13%;
  margin-top: 3%;
}
.review_author {
  float: right;
  margin-right: 2em;
  font-style: italic;
}
.review_body {
  margin-bottom: 1rem;
  overflow: auto;
}
.six.columns{
  margin-left: 3em;
}
.reviews_collection .review.six.columns {
  margin-bottom: -1em;
}
.reviews_collection.row {
  margin: 3% auto;
  width: 86%;
}

.newerReviews {
  display: none;
  margin-left: 35%;
  font-family: 'SensoryOverload', sans-serif;
  float: left;
  width: 11%;
}

.olderReviews {
  display: inline-block;
  margin-right: 40%;
  font-family: 'SensoryOverload', sans-serif;
  float: right;
}

.newerReviews:hover, .olderReviews:hover {
  cursor: pointer;
  color: rgb(100, 100, 100);
}

/*BOUNCING*/

.bounce_up.scrollable {
  opacity: 0;
  -moz-transition: all 700ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  -moz-transform: translate3d(0px, 200px, 0px);
  -webkit-transform: translate3d(0px, 200px, 0px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate3d(0px, 200, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bounce_up.in-view.scrollable {
  opacity: 1;
  -moz-transform: translate3d(0px, 50px, 0px);
  -webkit-transform: translate3d(0px, 50px, 0px);
  -o-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate3d(0px, 50px, 0px);
}

.red, .email.red, .contact.scrollable input[type='email'].red {
  border-color: red;
}


/*CONTACT*/

.contact .three.columns {
  margin-right: 13%;
}

.contact.scrollable p.contact_info {
  width: 65%;
  margin: 0 auto;
  background-color: black;
  color: white;
  padding: 2%;
  font-family: 'Karla', sans-serif;
  font-size: 1em;
  margin-bottom: 4%;
  margin-top: 2%;
  text-indent: 1em;
}

.contact.scrollable a {
  color: black;
}

.contact.scrollable a:hover {
  text-decoration: underline;
}

.indented {
  margin-left: 1em;
}

.contact.scrollable .three.columns p {
  font-family: 'Karla', sans-serif;
  font-size: 1.2em;
  margin-left: 15%;
  text-align: left;
}

.social_media.wrap {
  overflow: hidden;
  clear: both;
  margin-left: 15%;
}

.social_media.wrap img {
  float:left;
  display: inline-block;
  width: 21%;
  margin-left: 5%;
  transition: all .1s ease-in-out;
}

.social_media.wrap .facebook.logo {
  width: 19%;
}

.social_media.wrap img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.contact h2 {
  font-family: 'SensoryOverload', sans-serif;
  font-size: 2em;
  margin-bottom: 1rem;
  text-align: left;

}

.contact.scrollable input[type='text'], .contact.scrollable textarea, .contact.scrollable input[type='email'] {
  width: 100%;
  margin-bottom: 5%;
}

.contact.scrollable textarea {
  height: 200px;
}

.contact.scrollable button {
  margin-left: 2%;
}

.contact button, .contact input[type='reset'] {
  width: 45%;
}

.road_sign {
  width: 10%;
  float: right;
  margin-right: 15%;
}

.road_sign img {
  position: relative;
  top: 20px;
  z-index: -600;
}

.road {
  width: 100%;
  margin-top: -5%;
  overflow: hidden;
}

.road img {
  height: 155px;
}

.car {
  width: 100%;
  overflow: auto;
  display: inline-block;
  position:absolute;
  bottom: 6em;
  z-index: 11111;
}

.car img {
  width: 25%;
  position: relative;
  z-index: 11111;
}

.handset {
  width: 15%;
  position: absolute;
  left: -30px;
  top: 30px;
}

.drive-left {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.contact.scrollable button:hover, .contact.scrollable input[type="reset"]:hover {
  background-color: rgb(45, 45, 45);
}


/*RATES*/
.rates .table .three.columns {
  width: 21%;
  margin-right: 2%;
}

.rates .table .head .three.columns {
  width: 22%;
  margin-right: 2.45%;
}

.rates .table .two.columns {
  width: 18%;
}

.rates .table .seven.colums {
  width: 70%;
}

.rates .table .offset-by-one {
  padding-left: 10%
}

.rates .table .ten.columns {
  width: 73%;
}
.rates .table .three.columns p, .rates.scrollable .table .two.columns p {
  margin-bottom: 2%;
}
.rates .table .four.columns {
  width: 49%;
}

.rates.scrollable p, .rates.scrollable h3, .rates.scrollable h5 {
  font-family: 'Karla', sans-serif;
}

.rates .container .row {
  margin: 0;
}

.rates.scrollable p {
  font-size: 1.2em;
}

.three.columns.blank {
  height: 3vh;
}

.head {
  border-bottom: 2px solid black;
  width: 94%;
  margin-bottom: 0;
}

.rates.scrollable .head p {
  font-size: 1.6em;
  text-align: center;
  margin-bottom: 3%;
  font-weight: bold;
}

.container.table .seven.columns, .table .four.columns.offset-by-four {
  border-left: 2px solid black;

}

.rates .ten.columns {
  padding: 0;
  text-align: center;
  border-left: 2px solid black;
  overflow: auto;
}

.rates .container.discounts {
  width: 65%;
}

.rates .container.discounts p {
  font-size: 1em;
}

.rates .ten.columns.offset-by-four {
  margin-left: 24.9%;
}

.ten.columns .four.columns, .ten.columns .two.columns {
  margin: 0;
  margin-bottom: 1.5%;
  padding: 0;
}

.blank {
  height: 3.8em;
}

.discounts p {
  margin-bottom: 0;
}

.ten.columns .two.columns.offset-by-one {
  margin-left: 13%;
}

.ten.columns .two.columns:first-child {
  padding-left: 6%;
}

.ten.columns.offset-by-four .four.columns p:first-child {
  margin-bottom: 0;
  margin-top: 3%;
}

.ten.columns.offset-by-four .four.columns p:nth-child(2) {
  font-size: 0.8em;
}

.ten.columns .description:first-child, .ten.columns .description:nth-child(3) {
  margin-right: 1%;
}

.three.columns:not(.description) {
  text-align: center;
}

.rates .description p {
  background-color: black;
  color: white;
  text-align: center;
}

.rates .container {
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 4%;
}

.container.table {
  margin-left: 4%;
}

.rates.scrollable .four.columns p {
  margin-bottom: 0.25%;
}

.rates. .offset-by-four {
  margin-left: 20px;
}

.rates .introduction {
  width: 82%;
  margin: 2% auto;
  margin-bottom: 7%;
}

.rates .introduction a {
  color: black;
}

.rates .introduction a:hover {
  text-decoration: underline;
}

.rates.scrollable h3 {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  font-size: 2.5em;
}


.discounts .three.columns {
  background-color: black;
  color: white;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 1.3em;
  margin-bottom: 10%;
  width: 29%;
}

.rates.scrollable h5 {
  text-align: center;
  margin-bottom: 2%;
}

.rates.scrollable .menu {
  position: absolute;
  width: 13%;
  right: 7%;
  top: 5%;
}


.sticky.header {
  padding-left: 0;
  width: 100%;
}

/*SCHEDULE*/

#calendar {
  width: 80%;
  margin: 4% auto;
  margin-bottom: 10%;
}

#calendar h2, #calendar td, #calendar th, #calendar button, .schedule_instructions {
  font-family: 'Karla', sans-serif;
}

#calendar button {
  border-radius: 0;
}

.schedule_instructions {
  width: 80%;
  margin: 4% auto;
  font-size: 1em;
}

.wheel1 {
  position: absolute;
  top: 46%;
  left: 3%;
}

.wheel2 {
  position: absolute;
  bottom: -6%;
  right: 7%;
}

.wheel3 {
      position: absolute;
    bottom: 7%;
    right: 4%;
}

#calendar .fc-day-grid-container {
  background-color: white;
}

.rates.scrollable {
  background-image: url(../images/b.jpg);
  background-attachment: fixed;
  backface-visibility: 0;
}
.m {
 background-color: white;
}

.schedule.scrollable .wrap {
  overflow: auto;
}

.deleteReview {
    width: 41%;
    height:30px;
    line-height: 25px;
}

.scrollable p.success_message {
  margin: 0 auto;
  width: 30%;
  margin-bottom: 3%;
}

#spinster {
  display:none;
  z-index: 999999;
  width: 8%;
  position: relative;
}

.submit_review #spinster {
  position: relative;
  width: 20%;
  top: 6px;
  right: 20px;
}

.submit_documents #spinster {
  top: 5px;
}

.pages #spinster {
  position: fixed;
  width: 2%;
  left: 47%;
  bottom: 7%;
}

.office_location {
  position: absolute;
  z-index: 99999;
  display: none;
}
.office {
  cursor: pointer;
}

.skipHeaderFooter .content > div > .instructions {
  background-color: black;
  color: white;
}
