@media only screen
and (min-width : 320px)
and (max-width : 649px){

/*LANDING PAGE*/
.main {
  margin: 0;
}
.massage_therapist_image {
  width: 85%;
  margin: 0 auto;
  margin-top: 10%;
  float: none;
  display: block;
}

.header {
  padding-top: 3%;
  padding-left: 0;
  width: 100%;
}

.header .landing_text_wrap {
  width: 98%;
}

.sticky {
  width: inherit;
}

.landing_button_pictures {
   display: none;
}

.landing_text.wrap {
  margin-right: 2.3%;
  width: 30%;
  margin-left: 0;
}

.sticky .landing_text:first-child {
  margin-left: 0;
}

.header p {
  font-size: 1em;
  margin-bottom: 1em;
}

.landing_image {
  width: 100%;
  margin-left: 2%;
  margin-top: 0;
}

.main_heading {
  width: 85%;
  margin: 0 auto;
  float: none;
  display: block;
  margin-top: 20%;
  margin-bottom: 20%
}

.main_heading p {
  margin-top: -2.8%;
  margin-left: 9%;
  font-size: 1.29em;
}

.main_heading h1 {
  width: 100%;
  font-size: 2.45em;
  margin-left: 0;
}

.wrap.menu img {
  display: none;
}

.scrollable h1 {
  font-size: 2.5em;
  margin-top: 0;
}

/*ABOUT */

.about_image .top_part,.about_image .middle_part,.about_image .bottom_part {
  display: none;
}

.about_pictures{
  width: 95%;
  padding-left: 2%;
}

.about_image.wrap {
  overflow: hidden;
}

.about_image h2 {
  position: static;
  display: block;
  font-size: 2em;
  color: white;
  text-align: center;
  width: auto;
  height: auto;
  line-height: 4em;
  margin-bottom: 0;
}

.about .section {
  width: 47%;
  height: 135px;
  border: 2px solid black;
  background-color: black;
  float: left;
  position: static;
  margin-bottom: 2%;
}

.about .section:first-child, .about .section:nth-child(3) {
  margin-right: 2%;
}

.section.education {
  margin: 0;
}

.section.education h2{
  left: 50px;
}

#document_request_form {
  margin-bottom: 0;
}

/*EDUCATION SECTION*/
#education.info, #massage.info, #resume.info {
  width: 100%;
}

.logo.three.columns img, .logo.three.columns  {
 display: none;
}

#education.info .one.column {
  width: 15%;
  margin-left: 7%;
}

#education.info h1 {
  font-size: 2.2em;
  margin: 5% auto;
}

#education.info h3 {
  font-size: 1.2em;
  padding-top: 16%;
}

#education.info li {
  font-size: 1em;
}

#education.info .seven.columns {
  width: 75.5%;
}

#education.info p {
  font-size: 1.8rem;
  line-height: 1em;
}

.one.column.bronx, .seven.columns.bronx {
  margin-top: 0;
}

.continuing_education.three.columns {
  width: 75%;
  float: none;
  margin-top: 0 auto;
}

.continuing_education p:first-child {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 5%;
  text-align: center;
}

 .row.continue_education .one.column.offset-by-one, .row.continue_education .one.column.offset-by-five {
  font-size: 1em;
}

.continue_education .seven.columns {
  font-size: 0.8em;
  float: none;
  margin: 0 auto;
  width: 95%;
}

#education.info {
  padding-bottom: 5%;
}


/*MASSAGE*/

.direct_hire.eleven.columns {
  width: 80%;
  line-height: 2em;
  padding: 3%;
}

#massage.info h1 {
  font-size: 2.5em;
}

.direct_hire p {
  font-size: 1em;
  line-height: 20px;
}

.direct_hire span {
  font-size: 1em;
}

.companies .three.columns {
  width: 46%;
}

.company p {
  font-size: 1em;
  height: 21rem;
}

.company.three.columns {
  margin: 0;
  text-align: left;
  margin-bottom: 10%;
}

.company.zeel p, .company.stressbusters p {
  height: 21rem;
}

.company.zeel.three.columns, .company.greenpoint.three.columns {
  margin-right: 3%;
}

.company img {
  width: 75%;
  display: block;
  margin: 0 auto;
}

.company {
  margin-bottom: 5%;
}

.companies {
  margin-bottom: 2%;
  width: 94%;
  padding-left: 0%;
}

.companies .company:last-child img {
  width: 90%;
}

.companies .company.three.columns {
  width: 43%;
}

/*RESUME*/
#resume.info {
  margin-bottom: 5%;
  margin-top: 4%;
}

#resume.info .six.columns {
  width: 450px;
  margin-left: 2em;
}
#resume.info form {
  width: 100%;
}

#resume.info input[type="text"], .resume_info input[type="email"] {
  width: 55%;
  height: 1.8em;
}

#resume.info label {
  font-size: 1em;
  width: 85%;
  margin-bottom: 0;
}

#resume.info h1 {
  font-size: 2.2em;
}

#resume.info h2 {
  font-size: 1.2em;
}

#resume.info label[for="comment"] {
  margin-bottom: 0;
}

#resume.info input[type="checkbox"] {
  margin-right: 3%;
   -ms-transform: scale(1); /* IE */
  -moz-transform: scale(1); /* FF */
  -webkit-transform: scale(1); /* Safari and Chrome */
  -o-transform: scale(1); /* Opera */
  padding: 10px;
}

#resume.info br {
  display: none;
}

#resume.info .five.columns {
  width: 88%;
  margin-left: 10%;
  margin-bottom: 2%;
  margin-top: 2%;
}

.submit_documents.wrap {
  overflow: auto;
}

.submit_documents button {
  width: 55%;
  font-size: 0.8em;
  margin-bottom: 5%;
  height: auto;
}

#resume.info textarea {
  font-size: 1em;
  width: 55%;
  height: 6em;
  margin-left: 0.5em;
}

.close_icon_wrap {
  width: 8%;
  margin-top: 2.5%;
  margin-right: 3.5%;
}

#resume.info input[type="email"] {
  margin-left: 1%;
  width: 55%;
}

/*REVIEWS*/

.container.reviews_collection_wrap {
  width: 90%;
}

.review.six.columns {
  width: 100%;
}

.reviews.section legend {
  font-size: 1.3em;
}

.reviews.section label {
  font-size: 1em;
  font-family: 'Karla', sans-serif;
}

.reviews.section label[for="email"] {
  margin-left: 2%;
  margin-right: 3%;
}

.reviews.section input[type="text"], .reviews.section input[type="email"] {
  width: 100%;
  height: 2em;
  font-size: 1em;
  margin-bottom: 1%;
}

.reviews.section label[for="body"] {
  margin-top: 0;
}

.reviews.section textarea {
  width: 100%;
  margin-left: 2%;
  height: 7em;
  font-size: 1em;
}

.reviews.section .eleven.columns {
  width: 90%;
  margin-left: 5%;
}

.reviews.scrollable fieldset {
  margin-bottom: 0%;
}

.review_button button, .review_button input[type="reset"] {
  height: 1.5em;
  font-size: 0.8em;
  width: 45%;
  padding: 0%;
  height: auto;
  line-height: 2em;


}

.review_button {
  margin-right: -5%;
  width: 70%;
}

.kick_me_man {
  width: 20%;
  top: 3%;
  left: 77%;
}

.reviews_collection.row {
  width: 100%;
}

.star-ratings-css {
  font-size: 2.5em;
  margin-bottom: 1%;
}

.reviews_collection .star-ratings-css {
  font-size: 1.2em;
}

.review_body {
  font-size: 1em;
  margin-bottom: 1%
}

.review_author {
  font-size: 0.8em;
  margin-bottom: 5%;
}

.reviews_collection .review.six.columns {
  margin-bottom: 0;
}

.olderReviews, .newerReviews {
  font-size: 0.8em;
}

.olderReviews {
  margin-right: 10%;
}

.newerReviews {
  margin-left: 0;
}

.reviews_collection .six.columns {
  margin-left: 0%;
}




/*CONTACT*/
.contact.scrollable {
  margin-top: 10%;
}

.contact.scrollable p.contact_info {
  width: 85%;
}

.contact h2 {
  font-size: 2em;
  margin-bottom: 1%;
}

.contact.scrollable p {
  font-size: 1.5em;
  margin-bottom: 2%;
}

.contact.scrollable p.contact_info {
  background-color: white;
  color: black;
  width: 90%;
}

.contact.scrollable .five.columns {
  display: none;
}

.contact.scrollable .three.columns.offset-by-three {
  width: 70%;
  padding: 0;
  margin-left: 35%;
}

.contact.scrollable .three.columns.offset-by-three h2 {
  text-align: left;
}

.contact.scrollable .three.columns.offset-by-three p {
  margin-left: 20%;
  text-align: left;
}

.social_media.wrap img:first-child {
  width: 15%;
}

.social_media.wrap .facebook.logo {
  width: 14%;
}
.social_media.wrap img {
  width: 16%;
  margin-bottom: 20%;
}

/*RATES*/

.rates.scrollable .menu {
  width: 20%;
  right: 6%;
  top: 1.5%;
}

.rates .container {
  width: 95%;
}

.rates .container.table {
  margin: 0 auto;
}

.rates.scrollable p {
  font-size: 1.2em;
}

.rates.scrollable .head p {
  font-size: 4rem;
}

.rates.scrollable .table p {
  font-size: 1em;
  margin-bottom: 0.5em;
}

.rates.scrollable h3 {
  font-size: 2em;
  margin-bottom: 0;
  margin-top: 5%;
}

.table .head .three.columns {
  display: none;
}

.table .head .seven.columns {
  border: none;
  width: 100%;
  padding: 0;
  font-size: 1.8em;
}

.rates .table .three.columns {
  width: 100%;
}

.rates .table .ten.columns {
  width: 100%;
  border: 0;
}

.rates .table .ten.columns.offset-by-four {
  margin-left: 0;
}

.rates .table .four.columns {
  width: 50%;
}

.rates .table .two.columns {
  width: 20%;
}

.rates .table .three.columns.description:first-child {
  margin-top: 5%;
  border-top: 2px solid black;
  padding-top: 5%;
}

.rates.scrollable .table .blank, .rates .sales {
  display: none;
}

.rates .table .ten.columns .two.columns:first-child {
  padding-left: 0;
}

.handset {
  width: 35%;
}

.rates .head {
  width: 100%;
}

.ten.columns.offset-by-four .four.columns p:nth-child(2) {
  font-size: 1em;
}

.rates .discounts .three.columns {
  margin: 2% auto;
  float: none;
  display: block;
  padding: 1%;
  width: 90%;
}

.rates .discounts .three.columns:last-child {
  margin-bottom: 20%;
}

.rates .discounts .three.columns p {
  font-size: 0.9em;
  margin-bottom: 0;
}

.car, .road_sign, .road {
  display:none;
}

.discounts .three.columns p:first-child {
  margin: 0;
}

/*SCHEDULE*/

.wheel1, .wheel2, .wheel3 {
  display: none;
}

.schedule_instructions {
  width: 90%;
  line-height: 1.2;
}

#calendar {
  width: 90%;
}

#calendar h2 {
  font-size: 1.5em;
}

#calendar .fc-left {
  width: 100%;
  margin-bottom: 2%;
}

#calendar .fc-button-group {
  margin-left: 0%;
}

#calendar .fc-right {
  float: none;
  width: 41%;
  position: static;
  display: block;
  float: left;
  overflow: auto;
}

#calendar .fc-center {
  width: 59%;
  margin-left: 0;
  float: left;
  overflow: auto;
  position: static;
  float: right;
}

#calendar button {
  line-height: 0;
  font-size: 0.8em;
}

#calendar .fc-center button {
  width: 45%;
  float: right;
}

#calendar .fc-center button:nth-child(2) {
  margin-left: 0;
  margin-right: 2%;
}

}

@media only screen
and (min-device-width : 319px)
and (max-device-width : 737px)
and (orientation : landscape) {
  .main {
    margin-bottom: 3%;
  }

  .massage_therapist_image {
    width: 45%;
    margin-left: 2%;
    margin-top: 5%;
    float: left;
  }

  .main_heading {
    float: left;
    width: 50%;
    margin-top: 8%;
    margin-bottom: 2%;
  }

  .landing_text.wrap {
    display: inline-block;
    margin-left: 2%;
    width: initial;
  }

  .landing_text.wrap:last-child {
    margin-right: 0%;
  }

  .header {
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .header p {
    margin-bottom: 0;
  }

  .company.three.columns {
    margin-bottom: 3%;
  }

  .company.zeel p, .company.stressbusters p, .company p {
    height: 11rem;
  }

  .company img {
    width: 60%;
  }

#resume.info .six.columns {
    width: 90%;
    margin: 0 auto;
    float: none;
    display: block;
  }

#resume.info form {
    float: left;
    width: 50%;
  }

  #resume.info input[type="text"], #resume.info input[type="email"], #resume.info textarea {
    width: 90%;
  }

  #resume.info .five.columns {
    width: 49%;
    margin-left: 0%;
  }

  .rates.scrollable .menu {
    width: 14%;
    right: 10%;
  }

  .handset {
    left: -20%;
    top: 1%;
  }

  .contact.scrollable .three.columns.offset-by-three {
    margin-left: 25%;
  }

  .contact.scrollable {
    margin-top: 2%;
  }

}


@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {

  .header {
    padding-left: 4%;
  }

  .landing_text.schedule, .landing_text.reviews {
    margin-left: 6.5%;
  }

  .landing_button_image.rates {
    padding-top: 20%;
  }

  .landing_button_image.contact {
    padding-top: 7%;
    padding-left: 10%;
  }

  .massage_therapist_image {
    width: 60%;
  }

  .main_heading {
    float: right;
    width: 70%;
    margin-top: 3%;
  }

  .main_heading h1 {
    font-size: 3em;
  }

  .main_heading p{
    font-size: 1.2em;
  }

  .about_pictures {
    width: 90%;
  }

  .direct_hire.eleven.columns {
    width: 90%;
  }

  .companies .company.three.columns {
    width: 45%;
  }

  .company img {
    width: 75%;
    margin-bottom: 4%;
  }

  .company p {
    height: 12rem;
  }

  #resume.info .six.columns {
    padding-left: 0;
  }

  #resume.info textarea {
    width: 99%;
  }

  .container .five.columns {
    width: 45%;
  }

  #calendar .fc-left {
    width: 100%;
    margin-bottom: 2%;
  }

  #calendar .fc-center {
    width: 50%;
    overflow: auto;
  }

  .wheel1 {
    top: 48%;
  }

  .menu {
    display: none;
  }

  .rates .container.table {
    width: 95%;
    margin: 0 auto;
  }

  .rates .table .head .three.columns {
    margin-right: 1.55%
  }

  .rates .table .three.columns {
    margin-right: 1.2%;
  }

  .rates.scrollable p {
    font-size: 1em;
  }

  .rates .container.discounts {
    width: 81%;
  }

  .discount_wrap .sales {
    width: 18%;
    bottom: 14%;
  }

  .review_row input[type="text"], .review_row input[type="password"], .review_row input[type="email"], .review_row textarea {
    width: 80%;
  }

  .review_row input[type="email"] {
    margin-left: 2.5%;
  }

  .olderReviews {
    margin-right: 30%;
  }

  .contact_info .three.columns {
    padding-left: 14%;
  }

  .contact.scrollable input[type='text'], .contact.scrollable textarea, .contact.scrollable input[type='email'] {
    width: 100%;
  }

  .contact.scrollable input[type="email"] {
    margin-left: 2.3%;
  }

  .sticky .landing_text:first-child {
    margin-left: 2%;
  }


}

@media only screen and (max-width: 1100px) and (min-width: 960px) {
  body {
    font-size: 15px;
  }
}

@media only screen and (max-width: 959px) and (min-width: 768px) {
  body {
    font-size: 12px;
  }

  .header {
    padding-left: 5%;
  }

  .landing_text.reviews {
    margin-left: 7.5%;
  }

  .about_image h2 {
    font-size: 2em;
    top: 20%;
  }

  .rates.scrollable .menu {
    top: 1%;
    right: 5%;
  }

  .container.table {
    width: 99%;
  }

  .landing_button_image.contact {
    padding-top: 7%;
  }

  .companies .company.three.columns  {
    width: 20%;
  }

  .company p {
    height: 19rem;
  }

#resume.info .five.columns {
    width: 230px;
  }

  .about .section {
    height: 180px;
  }

  .rates .table .head .three.columns {
    width: 20%;
    margin-right: 3.4%;
  }

  .rates .table .three.columns {
    width: 20%;
    margin-right: 2%;
  }

}


@media only screen and (max-width: 767px) and (min-width: 650px) {
  body {
    min-width: 650px;
    width: 100%;
    font-size: 10px
  }

  .header {
    padding-left: 5%;
  }

  .landing_text.reviews {
    margin-left: 7.5%;
  }

  .landing_button_image.reviews {
    padding-top: 29%;
  }

  .landing_button_image.rates {
    padding-top: 25%;
  }

  .landing_button_image.contact {
    padding-top: 17%;
  }

  .landing_button_image.blog {
    padding-top: 26%;
  }

  .about .section {
    height: 150px;
  }

  #calendar .fc-center button {
    width: 40%;
  }

  .rates.scrollable .menu {
    right: 4%;
  }

  .rates .table .offset-by-one {
    padding-left: 2%;
  }

  .discounts .three.columns {
    margin-right: 1%;
  }

  .form.eleven.columns {
    margin-left: 0;
  }

  .review_button input[type="reset"], .review_button button, .contact button, .contact input[type='reset'] {
    width: 10em;
    line-height: 1em;
  }

  .review_button {
    float: left;
    margin-left: 1.5%;
  }

  .reviews input[type="text"], .reviews input[type="password"], .reviews input[type="email"] {
    width: 100%;
    height: 25px;
  }

  .reviewBody {
    width: 100%;
  }

  .contact .container {
    width: 70%;
  }

  .handset {
    left: -100px;
  }

  .social_media.wrap img:first-child {
    margin-left: 13%;
  }

  .social_media.wrap {
    margin-left: 0;
  }

  .contact.scrollable p {
    margin-left: 15%;
    margin-bottom: 15%;
  }

  .contact h2 {
    margin-bottom: 0;
  }

  .contact .three.columns {
    width: 30%;
  }

  .contact .five.columns {
    width: 50%;
  }

  .contact input[type="email"] {
    margin-left: 2%;
  }

  .contact button, .contact input[type='reset'] {
    width: 45%;
  }

  .road img {
    height: 100px;
  }

  .sticky .landing_text:first-child {
    margin-left: 4%;
  }

  .sticky.header {
    min-width: 650px;
  }
}

@media only screen
and (min-width : 414px)
and (max-width : 649px) {
  .main_heading h1 {
    font-size: 2em;
  }

  .main_heading p {
    font-size: 1.2em;
  }

  .landing_text.wrap {
    width: 13%;
  }

  .header {
    padding-top: 1%;
  }

  .massage_therapist_image {
    width: 55%;
    margin-left: 5%;
    float: left;
    margin-top: 5%;
  }

  .main_heading {
    width: 66%;
    float: right;
    margin-bottom: 0%;
    margin-top: 4%;
  }

  .header p {
    font-size: 0.7em;
  }
}
