<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
    <link rel="stylesheet" href="/stylesheets/alternative.css">
    <link href='https://fonts.googleapis.com/css?family=Carter+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Krona+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </head>

  <body>
  <div class="main_landing">
    <div class="landing_image">
      <div class="massage_therapist_image wrap">
        <img src="images/massage_therapist.svg">
      </div><!--massage_therapist_image wrap-->

      <div class="main_heading">
        <h1>Ilia Gerassimov</h1>
        <p>massage is my profession</p>
      </div><!--main_heading-->
    </div><!--landing_image-->
  </div><!--main_landing-->

  <div class="black_landing">
    <div class="landing_button">
      <div class="landing_button_image wrap bear">
        <img src="images/bear.png">
      </div><!--landing_button_image wrap-->
      <div class="landing_button_text wrap">
        <p>About</p>
      </div><!--landing_button_text wrap-->
    </div><!--landing_button-->

    <div class="landing_button">
      <div class="landing_button_image wrap clock">
        <img src="images/clock.png">
      </div><!--landing_button_image wrap-->
      <div class="landing_button_text wrap">
        <p>Schedule</p>
      </div><!--landing_button_text wrap-->
    </div><!--landing_button-->

    <div class="landing_button">
      <div class="landing_button_image wrap kick_me">
        <img src="images/kick_me.png">
      </div><!--landing_button_image wrap-->
      <div class="landing_button_text wrap">
        <p>Reviews</p>
      </div><!--landing_button_text wrap-->
    </div><!--landing_button-->

    <div class="landing_button">
      <div class="landing_button_image wrap phone">
        <img src="images/phone.png">
      </div><!--landing_button_image wrap-->
      <div class="landing_button_text wrap">
        <p class="contact_text">Contact</p>
      </div><!--landing_button_text wrap-->
    </div><!--landing_button-->

    <div class="landing_button">
      <div class="landing_button_image wrap blog">
        <img src="images/blog.png">
      </div><!--landing_button_image wrap-->
      <div class="landing_button_text wrap">
        <p class="blog_text">Blog</p>
      </div><!--landing_button_text wrap-->
    </div><!--landing_button-->
  </div><!--black_landing-->

  <script src="/javascripts/functionality.js"></script>
  <script src="/javascripts/beauty.js"></script>
  </body>
</html>
