<!DOCTYPE html>
<html>
  <head>
    <title>Ilia Gerassimov - Massage Therapy</title>
    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <link rel='stylesheet' href='/stylesheets/base.css' />
    <link rel='stylesheet' href='/stylesheets/skeleton-fluid.css' />
    <link rel='stylesheet' href='/stylesheets/skeleton.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='https://fonts.googleapis.com/css?family=Carter+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Krona+One' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="row">
            <!-- <img src="/images/logo-sample.00_png_srz" width="100px" > -->
            <a href="#">About</a>
            <a href="#">Schedule</a>
            <a href="#">Reviews</a>
            <a href="#">Contact</a>
            <a href="#">Blog</a>

        </div>
      </div>
    </header>
    <div class="main_picture bounce_up in-view scrollable">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna.</p>
    </div>
    <div class="menu bounce_up about in-view scrollable">
      <div class="title">
        <h3> About me</h3>
      </div>
    </div>
    <div class="menu bounce_up schedule scrollable">
      <div class="title">
        <h3>Schedule</h3>
      </div>
    </div>
    <div class="menu bounce_up reviews scrollable">
      <div class="title">
        <h3>Reviews</h3>
      </div>
      <div class="reviews_collection">
        <p><% reviews.forEach(function(review){ %>
          <div class="review">
            <div class="star-ratings-css" title= ".<%= review.stars %>" ></div>
            <p><%= review.body %></p>
            <p><%= review.author %></p>
          </div>
       <% }) %>
      </div>
      <div class="form">
        <div class="formErrors"></div>
        <fieldset class="rating">
          <legend>Please rate:</legend>
          <input type="radio" id="star5" name="rating" value="5" /><label for="star5">5 stars</label>
          <input type="radio" id="star4" name="rating" value="4" /><label for="star4">4 stars</label>
          <input type="radio" id="star3" name="rating" value="3" /><label for="star3">3 stars</label>
          <input type="radio" id="star2" name="rating" value="2" /><label for="star2">2 stars</label>
          <input type="radio" id="star1" name="rating" value="1" /><label for="star1">1 star</label>
        </fieldset>

        <form method="post" action="/" id="reviewForm">
          <input type="text" name="author" class="reviewAuthor checkable" placeholder="Name">
          <input type="text" name="email" class="reviewEmail" placeholder="Email">
          <textarea placeholder="You review goes here" rows="20" name="body" class="reviewBody checkable"></textarea>
          <button class="submit">Submit</button>
        </form>
      </div>
    </div>
    <div class="menu bounce_up contact scrollable">
      <div class="title">
        <h3>Contact</h3>
      </div>
    </div>
      <footer>
      </footer>
  <script src="/javascripts/scripts.js"></script>
  </body>
</html>
