<!DOCTYPE html>
<html>
  <head>
    <title>Ilia Gerassimov - Massage Therapy</title>
    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <link rel='stylesheet' href='/stylesheets/base.css' />
    <link rel='stylesheet' href='/stylesheets/skeleton-fluid.css' />
    <link rel='stylesheet' href='/stylesheets/skeleton.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='https://fonts.googleapis.com/css?family=Carter+One' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="row">
          <div class="nine columns">
            <img src="/images/logo-sample.00_png_srz" width="200px" >
          </div>
          <div class="nav three columns">
            <a href="#" class="button">Home</a>
            <a href="#" class="button">Blog</a>
          </div>
        </div>
      </div>
    </header>
    <div class="container main_picture">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna.</p>
    </div>
    <div class="container menu about">
      <h3>About me</h3>
    </div>
    <div class="container menu schedule">
      <h3>Schedule</h3>
    </div>
    <div class="container menu reviews">
      <h3>Reviews</h3>
    </div>
    <div class="container menu contact">
      <h3>Contact</h3>
    </div>
      <footer>
      </footer>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" type="text/javascript"></script>
  </body>
</html>
