<!DOCTYPE html>
<html>
  <head>
    <title>Ilia Gerassimov - Massage Therapy</title>
    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <link rel='stylesheet' href='/stylesheets/base.css' />
    <link rel='stylesheet' href='/stylesheets/skeleton.css' />
    <link rel='stylesheet' href='/stylesheets/blog.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </head>
  <body>
      <%- body %>
    <footer>
    </footer>
  </body>
  <script src="/javascripts/functionality.js"></script>
  <script src="/javascripts/beauty.js"></script>
  </body>
</html>
