<% layout('layout') -%>
<div class= "blog_centerpiece">
  <img src="images/hands_massage.jpg" width="60%" height="170px">
</div>
<div class="login">
  <h1> Log In </h1>
  <form method="post" action="/login" id="loginForm">
    <input type="text" id="username" placeholder="Username" name="username"><br>
    <input type="password" id="password" placeholder="Password" name="password"><br>
    <input type="Submit" value="Log In">
  </form>
</div>
