/*@font-face {
    font-family: SensoryOverload;
    src: url(../fonts/SensoryOverload.ttf);
}

@font-face {
    font-family: JD;
    src: url(../fonts/jd.ttf);
}*/
header img {
  margin: 2% auto;
  margin-bottom: 4%;
  width: 90%;
}

.intro {
  text-align: center;
  font-size: 1.3em;
  margin-top: 1%;
}

.postDate {
  font: 'Lato', sans-serif;
  letter-spacing: 2px;
  text-align: center;
  font-size: 0.9em;
}

.postTitle {
  display: block;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  letter-spacing: 3px;
  font-weight: bold;
  margin-bottom: 0em;
  font-size: 1.5em;
  margin-top: 2%;
}
.postTitle:hover {
  cursor: pointer;
  color: rgb(211, 211, 211);
}
.postBody {
  margin: 2% auto;
  font-size: 1.2em;
  text-align: left;
  text-indent: 2em;
}
.postData {
  border: 1px solid black;
  margin: 3% auto;
  width: 90%;
  padding: 3%;
  margin-top: 5%;
}

.postData p {
  font-family: Arial, Helvetica, sans-serif;
}

.wrap {
  width: 90%;
  margin: 0 auto;
}

.read_more_wrap {
  width: 15%;
  background-color: black;
  padding: 1% 2%;
  margin: 0 auto;
  text-align: center;
}

.read_more_wrap:hover {
  background-color: rgb(89, 89, 89);
  cursor: pointer;
}

.read_more_wrap a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: georgia, sans-serif;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.comment p {
  text-align: center;
  font-size: 1.2em;
}

.comment a:hover {
  cursor: pointer;
}
