@media only screen and (max-width: 959px) and (min-width: 768px) {
  body {
    font-size: 12px;
  }

  .header {
    padding-left: 5%;
  }

  .landing_text.reviews {
    margin-left: 7.5%;
  }

  .about_image h2 {
    font-size: 2em;
    top: 20%;
  }

  .rates.scrollable .menu {
    top: 1%;
    right: 5%;
  }

  .container.table {
    width: 99%;
  }

  .landing_button_image.contact {
    padding-top: 7%;
  }

  .companies .company.three.columns  {
    width: 20%;
  }

  .company p {
    height: 19rem;
  }

#resume.info .five.columns {
    width: 230px;
  }

  .about .section {
    height: 180px;
  }

  .rates .table .head .three.columns {
    width: 20%;
    margin-right: 3.4%;
  }

  .rates .table .three.columns {
    width: 20%;
    margin-right: 2%;
  }

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .current_status .status_edit.trigger {
    display: block;
  }
  .header {
    padding-left: 4%;
  }

  .landing_text.schedule, .landing_text.reviews {
    margin-left: 6.5%;
  }

  .landing_button_image.rates {
    padding-top: 20%;
  }

  .landing_button_image.contact {
    padding-top: 7%;
    padding-left: 10%;
  }

  .massage_therapist_image {
    width: 60%;
  }

  .main_heading {
    float: right;
    width: 70%;
    margin-top: 3%;
  }

  .main_heading h1 {
    font-size: 3em;
  }

  .main_heading p{
    font-size: 1.2em;
  }

  .about_pictures {
    width: 90%;
  }

  .direct_hire.eleven.columns {
    width: 90%;
  }

  .companies .company.three.columns {
    width: 45%;
  }

  .company img {
    width: 75%;
    margin-bottom: 4%;
  }

  .company p {
    height: 12rem;
  }

  #resume.info .six.columns {
    padding-left: 0;
  }

  #resume.info textarea {
    width: 99%;
  }

  .container .five.columns {
    width: 45%;
  }

  #calendar .fc-left {
    width: 100%;
    margin-bottom: 2%;
  }

  #calendar .fc-center {
    width: 50%;
    overflow: auto;
  }

  .wheel1 {
    top: 48%;
  }

  .menu {
    display: none;
  }

  .rates .container.table {
    width: 95%;
    margin-left: 4%;
  }

  .rates .table .head .three.columns {
    margin-right: 1.55%
  }

  .rates .table .three.columns {
    margin-right: 1.2%;
  }

  .rates.scrollable p {
    font-size: 1em;
  }

  .rates .container.discounts {
    width: 81%;
  }

  .discount_wrap .sales {
    width: 18%;
    bottom: 14%;
  }

  .review_row input[type="text"], .review_row input[type="password"], .review_row input[type="email"], .review_row textarea {
    width: 80%;
  }

  .review_row input[type="email"] {
    margin-left: 2.5%;
  }

  .olderReviews {
    margin-right: 30%;
  }

  .contact_info .three.columns {
    padding-left: 14%;
  }

  .contact.scrollable input[type='text'], .contact.scrollable textarea, .contact.scrollable input[type='email'] {
    width: 100%;
  }

  .contact.scrollable input[type="email"] {
    margin-left: 2.3%;
  }

  .sticky .landing_text:first-child {
    margin-left: 2%;
  }



}
